section.pageEasyPeasy {
	table.fadeIn {
		opacity: 1;
		transition: opacity .5s ease-in;
	}

	table.fadeOut {
		opacity: 0;
		transition: opacity .5s ease-out;
	}

	table.employees {
		border-collapse: separate;
		thead {
			tr {
				th {
					font-weight: normal;
					font-variant: small-caps;
					font-size: 0.8rem;
					text-align: left;
					opacity: 70%;
				}
				th.dpId {
					font-family: monospace;
					font-variant: normal;
					font-size: 0.7rem;
					padding-top: 0.3rem;
				}
			}
		}
		tbody {
			tr {
				td {
					background-color: #ccc;
					font-size: 0.9rem;
					padding: 0.3rem;
				}
				td.dpId {
					font-family: monospace;
					text-align: center;
					opacity: 50%;
				}
				td.dpLine {
					min-width: 10rem;
				}
				td.dpYesNo {
					text-align: center;
				}
				td.dpWholeNumber {
					text-align: right;
				}
			}
		}
	}
}
