@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}
	button {
		@apply rounded bg-slate-600 hover:bg-slate-500 pt-0 pb-1 px-2 text-white;
	}
}

/* COLORS */
.backgroundHighlight {
	background-color: rgb(245, 245, 191);
}

a.active {
	color: rgb(232, 232, 141);
}

.page {
	h2.main {
		font-weight: bold;
		margin-top: 1rem;
		&:first-of-type {
			margin-top: 0;
		}
		margin-bottom: 1rem;
		background-color: rgb(243, 243, 205);
		padding: .5rem;
		border-radius: .5rem;
	}
}
